name: clippr
description: A new Flutter project.

version: 1.0.0+1

environment:
  sdk: ">=2.2.0"  


dependencies:
  flutter:
    sdk: flutter

  flutter_svg: ^0.13.0+1
  grpc: ^1.0.1
  protobuf: ^0.13.1
  flutter_slidable: ^0.5.0
  bloc: ^0.13.0
  rxdart: ^0.22.0
  flutter_bloc: ^0.13.0
  event_bus: ^1.1.0
  equatable: 0.1.6
  path_provider: ^1.1.0
  device_info: ^0.4.0+1
  shared_preferences: ^0.5.2+1
  get_it: ^1.0.3+1
  rflutter_alert: ^1.0.2
  flutter_form_builder: ^3.1.2  
  cupertino_icons: ^0.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter


# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  fonts:
    - family:  MyFlutterApp
      fonts:
       - asset: fonts/MyFlutterApp.ttf
  
  assets:
     - assets/     

  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.io/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.io/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.io/custom-fonts/#from-packages
